<robot name="simple_object">
  <link name="my_object">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.00016" ixy="0.0"  ixz="0.0"  iyy="0.00016"  iyz="0.0"  izz="0.00016" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_object">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>
